.contact{
    height: 100%;
    max-width: 70vw;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 50px;
    .textContainer{
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 40px;
        h1{
            font-size: 100px;
            line-height: 80px;
        }
        span{
            font-weight: 300;
        }
    }
    .formContainer{
        flex: 1;
        position: relative;
        .phonesvg{
            stroke: orange;
            position: absolute;
            margin: auto;
        }
        form{
        display: flex;
        flex-direction: column;
        gap: 20px;
        input,textarea{
            padding: 20px;
            background-color: transparent;
            border: 1px solid white;
            border-radius: 5px;
            color: white;
        }
        button{
            border: none;
            background-color: orange;
            padding: 20px;
            cursor:pointer;
            border-radius: 5px;
            font-weight: 500;
        }
        }


    }
}